.hh-box {
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  background: #c66a6a;
  transition: all 0.2s ease;
}

.hh-box:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.hh-box-name {
  font-weight: bold;
  border-bottom: 2px solid #000;
  margin-bottom: 8px;
  padding-bottom: 4px;
}

.hh-box-image {
  border-radius: 8px;
  width:200; height:80;
}

.hh-box-price {
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin: 8px 0;
}

.hh-box-actions {
  display: flex;
  justify-content: center;
  gap: 6px;
  border-top: 1px solid #eee;
  padding-top: 6px;
}
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f8d3d3;
}

.navbar {
  background-color: #e6b7b8 !important; /* hồng nhạt dịu */
}

.navbar .nav-link {
  color: #4b2e2b !important; /* nâu sậm, dễ đọc */
  font-weight: 500;
}

.navbar .nav-link:hover {
  color: #9b4b4b !important; /* hồng đậm khi hover */
}

.card-header{
 background:#e6b7b8;
}

h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  font-family:"My font";
}

section {
  max-width: 900px;
  margin: 40px auto;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  line-height: 1.7;
}

h2 {
  font-weight: bold;
  color: #000000;
}

.highlight {
  font-weight: bold;
  color: #000000;
  font-weight: bold;
}
@font-face {
font-family: "My font"; src:url(Bungee-Regular.ttf) format("truetype");}

.footer {
  background-color: #e6b7b8;
  margin-top:20px;
}